body {
    overflow-x: hidden;
    font-family: 'avenir next';
}

.mainHeader {
	background: url('../images/light_leak.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: center;
	align-content: center;
}

.mainHeaderText {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	letter-spacing: 0.75em;
}

.header_content,
.subheader_content {
	text-align: left;
}

.subheader_content {
	text-shadow: 0;
	letter-spacing: 0.15em;
}

.resume_link {
	color: white;
}

hr {
	border-color: white;
}

.glyph_navigation {
	cursor: pointer;
}

.fa-chevron-down {
	color: white;
	text-shadow: none;
	font-size: -webkit-xxx-large;
}

.mainHeaderText p a:hover {
	color: darkgrey;
	transition: .25s;
}

hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}

.headerNav {
	font-size: 2em;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding-left: 0px;
}

.about_text {
	letter-spacing: 0.1em
}

.interests_list {
	margin-top: 15px;
	list-style: none;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.panel {
	margin-bottom: 50px;
	margin-top: 50px;
	font-family: avenir;
	letter-spacing: 0.125em;
}

.linethrough {
	text-decoration: line-through;
	color: grey;
}

.hidden {
	display: none;
	transition: 0.5s;
}

@media (max-width: 786px) {

}





