body {
    overflow-x: hidden;
    font-family: 'avenir next';
}

.container-fluid {
	padding: 0px;
}

.mainHeader {
	background: url('../images/reynisdrangar_landscape.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: center;
	align-content: center;
}

.mainHeaderText {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	letter-spacing: 0.75em;
}

.header_content,
.subheader_content {
	text-align: left;
}

.subheader_content {
	text-shadow: 0;
	/*color: black;*/
	letter-spacing: 0.15em;
}

.github_logo {
	fill: white;
}

.resume_link {
	color: white;
}

hr {
	border-color: white;
}

.chevron_down:hover {
	cursor: pointer;
	transform: scale(1.1)
}

.fa-chevron-down {
	color: white;
	text-shadow: none;
	font-size: -webkit-xxx-large;
}

.mainHeaderText .title {
	font-size: 4em;
	font-family: 'avenir next';
}

.sub {
	color: white;
}


.mainHeaderText p a:hover {
	color: darkgrey;
	transition: .25s;
}

hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}

.headerNav {
	font-size: 2em;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding-left: 0px;
}

.navbar {
	position: fixed;
}

i {
	font-size: 2em;
}

.list {
	display: flex;
	flex-direction: column;
}

.projectText h2 {
	border-bottom: 1px solid white;
}

#about,
#aboutText {
	padding: 0px 25px;
}

.projectText {
	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: white;
	transition: 0.5s;
	background-color: rgba(15,15,15,0.85);
	padding: 15px;
}

.thumbnail:hover .projectText {
	opacity: 1;
}

.thumbnail {
	display: block;
	position: relative;
	margin: 10px;
}

.img-responsive {
	max-width: 100%;
}

.project-links {
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.project-links li {
	width: 50%;
}

.interests_list {
	margin-top: 15px;
	list-style: none;
}

.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.panel {
	margin-bottom: 50px;
	margin-top: 50px;
	font-family: avenir;
	letter-spacing: 0.125em;
}

.linethrough {
	text-decoration: line-through;
	color: grey;
}

.hidden {
	display: none;
	transition: 0.5s;
}

@media (max-width: 786px) {
	.project-links {
		display: block;
	}
	.project-links li {
		width: 100%;
	}
}





