body {
	margin: 0px auto;
	text-align: center;
}

html {
	background: url("header-background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #99ECE2;
	font-family: "open sans";
	font-style: normal;
	font-weight: 400;
	src: local('open sans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format("woff");
	font-size: 3em;
	padding-top: 25px;
}

h3 {
	color: #4fafa3;
	margin-top: 50px;
}


hr {
	width: 25%;
}

.header{
	height: 1000px;
} 

.title {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	font-size: 4em;
	font-weight: bold;
	color: #fff;
	font-family: helvetica, sans-serif;
}
.header .title  p {
	margin-bottom: 0px;
	margin-top: 0px;
	text-shadow: 5px 5px black; 
}



.profile,
.experiences,
.abilities,
.contact {
	padding: 25px 25px;
}



.profile {
	background-color: #fff;
	margin-bottom: 0px;
}

#title {
	font-weight: bold;
	padding: 2.5px;
}
#subtitle {
	font-weight: bold;
	color: gray;
}

ul {
	padding-left: 0px;
}

.contact p {
	color: #c3c3c3;
}


.experiences {

	background-color: #fffdea;
	margin-top: 0px;
}

.education {
	text-align: left;
}

.abilities {

	background-color: #fff;
}

.projects-links {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	justify-content: center;
	align-content: center;
}

.projects {
	background-color: #fffdea;
	padding-bottom: 20px;
}

.contact {

	background-color: #383838;
	color: grey;
}

li {
	list-style: none;
}



.project1,
.project2, 
.project3,
.project4,
.project5 {
	padding: 25px;
	transition: 0.4s transform;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);

}

.graphs {
	display: flex;
	justify-content: center;
	align-content: center;
}

.graphs .left-list,
.graphs .right-list {
	padding-left: 50px;
	padding-right: 50px;
}


@media (min-width: 1025px) {

	.project1,
	.project2,
	.project3,
	.project4,
	.project5 {
		max-width: 100%;
	}

	.profile,
	.experiences,
	.abilities,
	.contact {
		padding: 25px 300px;
	}

	.experiences {

	}
	.about {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	#quote {
	width: 50px;
}


	.about-me,
	.details {
		text-align: left;
	}

	.about-me {
		width: 200px;
	}
	#left {
		padding-right: 5px;
		padding-left: 25px;
	}
	#right {
		max-width: 400px;
		padding-right: 25px;
	}
	.experiences .education h3 {
		text-align: center;
	}
	.education {
		display: block;
	}
	.education1 {
		display: flex;
		justify-content: space-between;
	}

	.projects {
		height: 1000px;
	}


}


@media (min-width: 1650px) {
	.profile, 
	.experiences,
	.abilities,
	/*projects*/
	.contact {
		padding: 25px 500px;
	}

	.project1,
	.project2,
	.project3,
	.project4,
	.project5 {
		max-width: 100%;
	}

	.projects {
		height: 850px;
	}
}


































