<!-- Page Content -->
<div class="container-fluid">


    <div class="row mainHeader">
        
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container headerNav">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </a>
          </div>
        </nav>

        <div class="container mainHeaderText">
            <p class="title">RANDY A. GALEANO</p>
            <hr>
            <p class="sub">Full Stack Web Developer</p>
            <!-- DOWN ARROW GLYPHICON NOT WORKING -->
            <p class="glyphicon glyphicon-chevron-down arrow"></p>
        </div>
        
    </div>
</div>
<!-- /#page-content-wrapper -->



