<!-- Page Content -->
<div>
    <div class="mainHeader">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class=" headerNav">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
                <i class="fa fa-bars fa-2x" aria-hidden="true" class="hamburger"></i>
            </a>
          </div>
        </nav>
        <div class="mainHeaderText">
            <p class="title">PORTFOLIO</p>

            <a href="#myWork">
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>  
    </div>

    <section class="wrapper portfolio panel">
        <h1 id="myWork">my work</h1>
            <ul class="project-links">
                <li>
                    <a class="thumbnail" href="http://jeopardy-rg.bitballoon.com/" target="_blank">
                        <img class="img-responsive" src="images/screenshots/jeopardy-screenshot.png" alt="" width="500px">
                        <div class="projectText">
                            <h2>Jeopardy</h2>
                            <p>First app created utiliing HTML5, CSS3, and JavaScript. Try and answer correctly!</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="thumbnail" href="https://radiant-sierra-29514.herokuapp.com" target="_blank">
                        <img class="img-responsive" src="images/screenshots/streetart-screenshot.png" alt="" width="500px">
                        <div class="projectText">
                            <h2>Where's Banksy</h2>
                            <p>Inspired by the "Where's Washington" app, this creation is a community for Banksy fans to track and post his local work.</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a class="thumbnail" href="https://imbible3.herokuapp.com" target="_blank">
                        <img class="img-responsive" src="images/screenshots/imbible-screenshot.png" alt="" width="500px" height="200px">
                        <div class="projectText">
                            <h2>IMBIBLE</h2>
                            <p>Full MEAN stack app built and designed with delegacy. Currently improving </p>
                        </div>
                    </a>
                </li>
            </ul>
    </section>
</div>
<!-- /#page-content-wrapper -->
